<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Medical Related Posts</title>
    <style>
        body {
            justify-content: center;
            height: 100vh;
            display: flex;
            align-items: center;
        }
         h1 {
            font-family: fantasy;
            font-display: initial;
            letter-spacing: 1mm;
        }
     </style>
</head>
<body>
    <form action="">
        <h1 style="text-align: center;">ADD</h1> <br>
        DOC_ID : <input type="text"> <br></br>
        DEPT : <input type="text"> <br></br>
        IMAGE : <input type="image"> <br></br>
        DESCRIPTIONS : <input type="text"> <br></br> 
        <div style="text-align: center;">
        <input type="button" value="SUBMIT">
        </div> 
    </form>
</body>
</html>