<html>
<head>
</head>
<body>
    <style>
        body {
           background-image: url(./blue.png);
           background-repeat: no-repeat;
           backdrop-filter: blur(3px);
           overflow: hidden; 
           background-size: cover; 
           font-family: Georgia, 'Times New Roman', Times, serif;    
        }
    </style>
    <h1>MANAGE APPOINTMENTS</h1>
<table border="1">
    <tr>
        <th>SI NO</th>
        <th>USER</th>
        <th>DOC_NAME</th>
        <th>DEPARTMENT</th>
        <th>TIMING</th>
        <th>TOKEN</th>
        <th>ACTIONS</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><button>EDIT</button><br></br><button>DELETE</button></td>
    </tr>
</table>
</body>
</html>