<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Medical Related Posts</title>
    <style>
        body {
            justify-content: center;
            height: 100vh;
            display: flex;
            align-items: center;
        }
        h1 {
            font-family: fantasy;
            font-display: initial;
            letter-spacing: 1mm;
        }

    </style>
</head>
<body>
    <form action="">
        <h1 style="text-align: center;">EDIT</h1><br>
        <div class="input-box">
           DOC_ID : <input type="text" required>
        </div>
        <br>
        <div class="input-box">
            DEPT : <input type="text" required>
        </div>
        <br>
         <div class="input-box">
            IMAGE : <input type="image" required>
        </div>
        <br>
         <div class="input-box">
            DESCRIPTIONS :  <input type="text" required>
        </div>
        <br>
        <div class="button">
         <input type="button" value="UPDATE">
        </div>
    </form>
</body>
</html>