<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            text-align: center;
        }
        button {
            border-radius: 3%;
        }
    </style>
</head>
<body>
    <form action="">
        <h1>MANAGE PRESCRIPTIONS</h1>
        USERNAME : <select name="Userid">
            <option value="null">-- please select a user --</option>
            {% for i in user %}
            <option value="{{ i.id }}">{{ i.Name }}</option>
            {% endfor %}
        </select></br>
        PRESCRIPTION : <textarea name="" id=""></textarea><br></br>
        Date : <input type="text"><br></br>
        MEDICINE : <input type="text"><br></br>
        QUANTITY : <input type="text"><br></br>
        <button>SUBMIT</button>
    </form>
</body>
</html>