<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-image: url(./pres.avif);
            background-size: cover;
            background-repeat: no-repeat;
            text-align: center;
            backdrop-filter: blur(3px);
            overflow: hidden;
        }
        button {
            border-radius: 3%;
        }
    </style>
</head>
<body>
    <form action="">
        <h1>MANAGE PRESCRIPTIONS</h1>
        USERNAME : <input type="text"><br></br>
        DOC_ID   : <input type="text"><br></br>
        PRESCRIPTION : <input type="text"><br></br>
        DAY/WEEK : <input type="text"><br></br>
        <button>SUBMIT</button><br></br>
    </form>
</body>
</html>