<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            text-align: center;
            justify-content: center;
            display: flex;
            align-items: center;
            height: 100vh;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        button {
            border-radius: 5px;
        }
        
    </style>
</head>
<body>
    <form action="">
            <h1>SEND NOTIFICATIONS</h1>
            <h3>TITLE : <input type="text"><br></h3>
            <h3>TEXTBOX : <input type="text"><br></h3>
            <button>SEND</button>
    </form>
</body>
</html>