<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Related Posts</title>
  
</head>
<body>
    <h1>MEDICAL RELATED POST'S</h1>
    <table border="1px">
        <tr>
         <th>SI NO</th>
         <th>TITLE</th>
         <th>IMAGE</th>
         <th>DESCRIPTION</th>
         <th>DATE</th>
         <th><a href="/add_post">+</a></th>
        </tr>
        {% for i in post %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ i.Title }}</td>
            <td><button><a href="{{ i.image.url }}" download>Download</a></button></td>
            <td>{{ i.Description }}</td>
            <td>{{ i.Createdate|date:'Y-m-d' }}</td>
            <td> <button value="update"><a href="/edit_post/{{ i.id }}/">UPDATE</a></button><br>
                <button value="delete"><a href="/delete_post/{{ i.id }}/">DELETE</a></button></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>