<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      
    </style>
</head>
<body>
    <table border="1">
<tr>
        <h1>VIEW PRESCRIPTIONS</h1>
       <th>SI NO</th>
        <th>USERNAME</th>
        <th>PRESCRIPTION</th>
        <th>DATE</th>
        <th><a href="/manage_prescription">+</a></th>

        </tr>
        {% for i in prescriptions %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ i.Userid.Name }}</td>
            <td>{{ i.prescription }}</td>
            <td>{{ i.Date }}</td>
            <td><button value="update"><a href="/update_prescription/{{ i.id }}/">Update</a></button><button value="delete"><a href="/delete_prescription/{{ i.id }}/">Delete</a></button></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>