<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>VIEW RATING</h1>
    <table border="1px">
<tr>
    <th>SI NO</th>
    <th>USER_ID</th>
    <th>DOC_ID</th>
    <th>FEEDBACK</th>
    <th>RATING</th>
</tr>
{% for i in rating %}
<tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ i.user_id.Name }}</td>
    <td>{{ i.doc_name.Name }}</td>
    <td>{{ i.comment }}</td>
    <td>{{ i.rating }}</td>
</tr>
{% endfor %}
    </table>
</body>
</html>