<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage medicine</title>
    <style>
       *{
        margin: 0;
        padding: 0;
       }
       body{
           display: flex;
           justify-content: center;
           height: 100vh;
           align-items: center;
           background-color:wheat
        }  
    </style>
</head>
<body>
    <div>
    <h1>Add and manage medicine</h1>
    <table border="1px">
      <tr>
        <th>SI_NO</th>
        <th>name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Edit</th>
        <th>image</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><input type="button" value="Edit">&nbsp;<input type="button" value="Delete"></td>
        <td></td>
      </tr>
    </table>
    </div>
</body>
</html>