<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <style>
       *{
        margin: 0;
        padding: 0;
       }
       body{
           display: flex;
           justify-content: center;
           height: 100vh;
           align-items: center;
           background-color:wheat
        }  
    </style>
</head>
<body>
    <form>
        <h1>Register</h1>
    <label>Full name:<input type="text"></label><br>
    <label>Email:<input type="email"></label><br>
    <label>Phone number:<input type="text"></label><br>
    <label>Qualification:<input type="text"></label><br>
    <label>Age:<input type="text"></label><br>
    <label>Gender:Female<input type="radio">&nbsp;Male<input type="radio">&nbsp;Other<input type="radio">&nbsp;</label><br>
    <label>Password:<input type="password"></label><br>
    <label>Confirm password:<input type="password"></label><br>
    <button type="button">Register</button>&nbsp;&nbsp;
    <button type="button">Login</button>
</form>
</body>
</html>