<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <style>
       *{
        margin: 0;
        padding: 0;
       }
       body{
           display: flex;
           justify-content: center;
           height: 100vh;
           align-items: center;
           background-color:wheat;
        }  
    </style>
</head>
<body>
    <form action="" method="POST">
     {% csrf_token %}

        <h1>Register</h1>
    <label>Full name:<input type="text" name="Name"></label><br>
    <label>Email:<input type="email" name="Email"></label><br>
    <label>Phone number:<input type="text" name="Phoneno"></label><br>
    <label>Qualification:<input type="text" name="Qualification"></label><br>
    <label>Age:<input type="text" name="Age"></label><br>
    <label>Gender:<input type="radio" name="Gender" value="Female">Female&nbsp;<input type="radio" name="Gender" value="Male">Male&nbsp;<input type="radio" name="Gender" value="Other">Other&nbsp;</label><br>
    <label>Password:<input type="password" name="Password"></label><br>
    <button type="submit">Register</button>&nbsp;
    <button type="button">Login</button>
</form>
</body>
</html>