<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add govt policy</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h1>ADD GOVERNMENT POLICY</h1>
        <label>POLICY NAME:</label><input type="text" name="PolicyName"><br><br>
        <label>FILE:</label><input type="file" name="file"><br><br>
        <button>ADD</button>
        
    </form>
</body>
</html>