<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update doctors</title>
    <style>
        body {
            display: flex;
             justify-content: center;  
             height: 100vh;
        }
    </style>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <h1>UPDATE DOCTORS</h1>

        <label>NAME:</label><input type="text" name="Name" value="{{doctor.Name}}"><br><br>
        <label>PHONE:</label><input type="text" name="Phoneno" value="{{doctor.Phoneno}}"><br><br>
        <label>EMAIL:</label><input type="text" name="Email" value="{{doctor.Email}}"><br><br>
        <label>AGE:</label><input type="text" name="Age" value="{{doctor.Age}}"><br><br>
        <label>GENDER:</label><input type="text" name="Gender" value="{{doctor.Gender}}"><br><br>
        <label>DEPARTMENT:</label><input type="text" name="Department" value="{{doctor.Department}}"><br><br>
        <label>EXPERIENCE:</label><input type="text" name="Experience" value="{{doctor.Experience}}"><br><br>
        <label>QUALIFICATION:</label><input type="text" name="Qualification" value="{{doctor.Qualification}}"><br><br>
        <button>UPDATE</button>
    </form>
</body>
</html>