<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update doctors</title>
    <style>
        body {
            display: flex;
             justify-content: center;  
             height: 100vh;
        }
    </style>
</head>
<body>
    <form action="">
        <h1>UPDATE DOCTORS</h1>

        <label>NAME:</label><input type="text"><br><br>
        <label>PHONE:</label><input type="text"><br><br>
        <label>EMAIL:</label><input type="text"><br><br>
        <label>AGE:</label><input type="text"><br><br>
        <label>GENDER:</label><input type="text"><br><br>
        <label>DEPARTMENT:</label><input type="text"><br><br>
        <label>EXPERIENCE:</label><input type="text"><br><br>
        <label>QUALIFICATION:</label><input type="text"><br><br>
        <button>UPDATE</button>
    </form>
</body>
</html>