<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>verify pharmacist</title>
</head>
<style>
    table,th,td {
        border: 1px solid black;
    }
    h1 {
        text-align: center;
    }

</style>
<body>
     <h1>VIEW & VERIFY PHARMACIST</h1>
    <table style="width: 100%;">
        <tr>
            <th>SI NO</th>
            <th>NAME</th>
            <th>PHONE</th>
            <th>EMAIL</th>
            <th>AGE</th>
            <th>GENDER</th>
            <th>QUALIFICATION</th>
            <th>ACTIONS</th>
        </tr>
        {% for i in pharmacist %}
        <tr>
            
            <td>{{ forloop.counter }}</td>
            <td>{{ i.Name }}</td>
            <td>{{ i.Phoneno }}</td>
            <td>{{ i.Email }}</td>
            <td>{{ i.Age }}</td>
            <td>{{ i.Gender }}</td>
            <td>{{ i.Qualification }}</td>
            <td><button>ACCEPT</button><br></br>
            <button>REJECT</button></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>