<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view review</title>
</head>
<style>
    table,th,td {
        border: 1px solid black;
    }
    h1 {
        text-align: center;
    }
</style>
<body>
    <h1>VIEW REVIEW</h1>
    <table style="width: 100%;">
        <tr>
            <th>SI NO</th>
            <th>USER ID</th>
            <th>DOC NAME</th>
            <th>COMMENT</th>
            <th>RATING</th>
        </tr>
        {% for i in review %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ i.user_id.Name }}</td>
            <td>{{ i.doc_name.Name }}</td>
            <td>{{ i.comment }}</td>
            <td>{{ i.rating }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>