<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view appointments</title>
</head>
<style>
    table,th,td {
        border: 1px solid black;
    }
    h1 {
        text-align: center;
    }
</style>
<body>
    <h1>VIEW APPOINTMENTS</h1>
    <table style="width: 100%;">
        <tr>
            <th>SI NO</th>
            <th>USER ID</th>
            <th>DOC ID</th>
            <th>TOKEN</th>
            <th>DATE</th>
        </tr>
        <tr>
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</body>
</html>